# dependencies
# 노드 모듈 폴더
node_modules/

# Expo 관련 임시 파일 및 폴더
# Expo 임시 폴더
.expo/
# 빌드 후 생성된 파일
dist/
# 웹 빌드 출력 폴더
web-build/

# iOS Xcode 관련
# iOS 빌드 폴더
ios/build/
# iOS CocoaPods 폴더
ios/Pods/

# Android Gradle 관련
# 안드로이드 Gradle 캐시 폴더
android
# 안드로이드 빌드 출력 폴더
android/app/build/

# 캐시 및 로그 파일
# npm 캐시 폴더
.npm/
# Yarn 캐시 폴더
.yarn/
# Yarn PnP 파일
.pnp.*
# Metro 번들러 캐시
.metro/
# Haste-map 캐시
.haste-map/
# 리액트 네이티브 디버그 로그
.react-native-debug.log
# 리액트 네이티브 패키저 로그
.react-native-packager.log

# IDE 및 편집기 설정
# JetBrains IDE 설정 폴더
.idea/
# VSCode 설정 폴더
.vscode/
# VSCode 워크스페이스 파일
*.code-workspace

# 운영체제 생성 파일
# macOS에서 생성하는 설정 파일
.DS_Store
# Windows 썸네일 캐시
Thumbs.db
# Vi/Vim 임시 파일
*.swp
# Gedit 및 기타 텍스트 편집기 임시 파일
*~

# 민감한 환경 설정 파일
# 환경 변수 파일
.env
# 로컬 환경 변수 파일
.env.local
# 개발 환경 로컬 환경 변수 파일
.env.development.local
# 테스트 환경 로컬 환경 변수 파일
.env.test.local
# 프로덕션 환경 로컬 환경 변수 파일
.env.production.local
